<div class="sidebar contents fixed">
  <div class="contents_list sidebar_item">
    <div class="btn">
      <a class="" href="/posts/new">
      <i class="fas fa-pen"></i>投稿する</a>
    </div>
    <div class="section_title">
      <i class="fas fa-bars"></i>MENU</div>
    <ul>
      <li>
        <i class="fas fa-newspaper"></i>最新の投稿一覧
      </li>
      <li>
        <i class="fas fa-address-book"></i>フォロワーの投稿一覧
      </li>
      <li>
        <i class="fas fa-comments"></i>コメントした投稿一覧
      </li>
      <li>
        <i class="fas fa-heart"></i>いいねした投稿一覧
      </li>
      <li>
        <i class="fas fa-user"></i>マイページ
      </li>
      <li>
        <i class="fas fa-cog"></i>ユーザー情報の編集
      </li>
      <li>
        <i class="fas fa-door-closed"></i>ログアウト
      </li>
    </ul>
  </div>
  <div class="contents_list sidebar_item">
    <div class="section_title ranking">
      <i class="fas fa-calendar-alt"></i>今月の学習時間TOP3</div>
    <ul>
      <li class="ranking">
        <i class="fas fa-crown gold"></i>
        ナルトさん：6000min（100hour）</li>
      <li class="ranking">
        <i class="fas fa-crown silver"></i>
        サスケさん：4500min（75hour）</li>
      <li class="ranking">
        <i class="fas fa-crown bronze"></i>
        サクラさん：3000min（50hour）</li>
    </ul>
    <div class="section_title">
      <i class="fas fa-calendar-week"></i>今週の学習時間TOP3</div>
    <ul>
      <li class="ranking">
        <i class="fas fa-crown gold"></i>
        きり丸さん：600min（10hour）</li>
      <li class="ranking">
        <i class="fas fa-crown silver"></i>
        しんべえさん：450min（7.5hour）</li>
      <li class="ranking">
        <i class="fas fa-crown bronze"></i>
        乱太郎さん：300min（5hour）</li>
    </ul>
  </div>
</div>